@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232427;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 100px 0 50px;
}
.container .card{
    position: relative;
    min-width: 320px;
    height: 500px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(255,255,255,0.1),
    5px 5px 15px rgba(0,0,0,0.3),
    -5px -5px 15px rgba(255,255,255,0.1);
    border-radius: 15px;
    margin: 30px;
}
.container .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    border: 2px solid #1e1f23;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s, box-shadow 0.4s;
}
.container .card:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0,0,0,0.5);
}
.container .card .box .content{
    padding: 20px;
    text-align: center;
}
.container .card .box .content .icon{
    position: relative;
    width: 80px;
    height: 80px;
    background: #f00;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
}
.container .card .box .content .icon .fa{
    color: #fff;
    font-size: 2em;
}
.container .card .box .content h3{
    font-size: 1.8em;
    color: #fff;
    font-weight: 300;
}
.container .card .box .content h4{
    color: #fff;
    font-size: 3em;
    font-weight: 700;
}
.container .card .box .content h4 sup{
    font-size: 0.75em;
    font-weight: 300;
}

.container .card .box .content ul{
    position: relative;
}
.container .card .box .content ul li{
    list-style: none;
    color: #fff;
    margin: 5px 0;
}
.container .card .box .content ul li .fa-check{
    color: #0f0;
}

.container .card .box .content ul li .fa-times{
    color: #f00;
}
.container .card .box .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #f00;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}
.container .card:nth-child(1) .box .content a,
.container .card:nth-child(1) .box .content .icon{
    background: #2196f3;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.container .card:nth-child(2) .box .content a,
.container .card:nth-child(2) .box .content .icon{
    background: #e91e63;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.container .card:nth-child(3) .box .content a,
.container .card:nth-child(3) .box .content .icon{
    background: #97dc47;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.toggle{
    position: absolute;
    top: 20px;
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background: #fff;
    cursor: pointer;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle::before{
    content: "\f185 ";
    font-family: fontAwesome;
    font-size: 24px;
}
body.light .toggle{
    background: #154f56;
    color: #fff;
}
body.light .toggle::before{
    content: "\f186";
}
body.light{
    background: #ebf5fc;
}

body.light .container .card{
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.03),
    inset -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 10px rgba(0,0,0,0.03),
    -10px -10px 15px rgba(255,255,255,0.5);
} 
body.light .container .card .box{
    background: #ebf5fc;
    border: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
body.light .container .card:hover .box{
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}
body.light .container .card .box .content h3,
body.light .container .card .box .content h4,
body.light .container .card .box .content ul li{
    color: #32a3b1;
}

